/** Sociales **/

.sociales ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sociales ul li {
    position: relative;
    display: inline-block;
}

.sociales ul li a::before {
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: top;
    padding: 0.4rem;
    content: '\f08e';
    -webkit-font-smoothing: antialiased;
    font-size: 2rem;
    /*color: #010409;*/
    color: #ffffff;
}

.sociales ul li a[href*="github.com"]::before {
    content: '\f09b';
}

.sociales ul li a[href*="linkedin.com"]::before {
    content: '\f08c';
}

.sociales ul li a[href*="youtube.com"]::before {
    content: '\f16a';
}

.bg-primary {
    background-color: #212529 !important;
}

.text-primary {
    color: #212529 !important;
}